@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "roboto";
  src: url("/Roboto-Regular.ttf") format("truetype");
  /* url('/roboto-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-Regular.ttf") format("truetype");
  /* url('/Rubik-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
