@tailwind base;
@tailwind components;
@tailwind utilities;

/* create variable cooler of the value 4b94bc */
 :root {
  --cooler: #fff;
} 

body {
  background-color: #e0e0e0;
}

.heading_font_size {
  font-size: clamp(48px, 30px + 6vw, 200px) !important;
}
/* .heading_font_size {
  font-size: clamp(48px, 30px + 6vw, 200px) !important;
} */

.strokec {
  -webkit-text-stroke: 2px var(--cooler); /* Width of the stroke and the color */
  /* color: var(--cooler);  */
}
.stroked {
  -webkit-text-stroke: 2px var(--cooler); /* Width of the stroke and the color */
  /* color: var(--cooler);  */
}

.bb{
  border-image: url('/tv.png') 30 / 19px round;
}

.customc {
  opacity: 0;
}
*:hover > .customc{
  opacity: 1;
}


.circtext span{
  position: absolute;
  left:50%;
  top: -2vw;
  transform-origin: 0 22vw;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  /* url('/fonts/roboto-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
  /* url('/fonts/Rubik-Regular.woff') format('woff'); */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "beng";
  src: url("/fonts/BENGUIAB.TTF") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Josef";
  src: url("/fonts/JosefinSlab-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "mursgothic";
  src: url("/fonts/mursgothic-widedark.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Revolin";
  src: url("/fonts/Revolin-Thin.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Revolin";
  src: url("/fonts/Revolin-ThinItalic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

#wall {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  );
}
